body {
	text-align: center;
	margin: 100px;
}

div {
	display: inline-block;
}

.flex-container {
	display: flex;
	height: 180px;
	align-items: center;
	justify-content: center;
}

.twt {
	background-image: url(../img/twt_1.svg);
	width: 150px;
	height: 150px;
	transition-duration: 0.4s;
}

.twt:hover {
	background-image: url(../img/twt_2.svg);
	width: 180px;
	height: 180px;
}

.ig {
	background-image: url(../img/ig_1.svg);
	width: 150px;
	height: 150px;
	transition-duration: 0.4s;
}

.ig:hover {
	background-image: url(../img/ig_2.svg);
	width: 180px;
	height: 180px;
}

.yt {
	background-image: url(../img/yt_1.svg);
	width: 150px;
	height: 150px;
	transition-duration: 0.4s;
}

.yt:hover {
	background-image: url(../img/yt_2.svg);
	width: 180px;
	height: 180px;
}

.twi {
	background-image: url(../img/twi_1.svg);
	width: 150px;
	height: 150px;
	transition-duration: 0.4s;
}

.twi:hover {
	background-image: url(../img/twi_2.svg);
	width: 180px;
	height: 180px;
}